<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title>Подбор героев Overwatch</title>
  <link rel="stylesheet" href="/static/styles.css">
  <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>
<body>
  <h1>Выбери героев</h1>

  <!-- Выбранные герои -->
  <div id="selected-heroes" class="selected-heroes">
    <p>Выбранные (макс 5):</p>
    <div id="hero-slots" class="hero-slots"></div>
  </div>

  <!-- Блоки ролей -->
  <div class="roles">
  <!-- ТАНК -->
  <div class="role tank">
    <div class="role-title">Танк</div>
    <div class="role-icons">
      <button class="hero"><img src="/static/other/dva.png" alt="D.Va"></button>
      <button class="hero"><img src="/static/other/hazard.png" alt="Азарт"></button>
      <button class="hero"><img src="/static/other/zarya.png" alt="Заря"></button>
      <button class="hero"><img src="/static/other/queen.png" alt="Королева"></button>
      <button class="hero"><img src="/static/other/doomfist.png" alt="Кулак"></button>
      <button class="hero"><img src="/static/other/mauga.png" alt="Мауга"></button>
      <button class="hero"><img src="/static/other/orisa.png" alt="Ориса"></button>
      <button class="hero"><img src="/static/other/rein.png" alt="Райнхардт"></button>
      <button class="hero"><img src="/static/other/ram.png" alt="Раматтра"></button>
      <button class="hero"><img src="/static/other/sigma.png" alt="Сигма"></button>
      <button class="hero"><img src="/static/other/hammond.png" alt="Таран"></button>
      <button class="hero"><img src="/static/other/hog.png" alt="Турбосвин"></button>
      <button class="hero"><img src="/static/other/winston.png" alt="Уинстон"></button>
    </div>
  </div>

  <!-- УРОН -->
  <div class="role damage">
    <div class="role-title">Урон</div>
    <div class="role-icons">
      <button class="hero"><img src="/static/other/venture.png" alt="Авентюра"></button>
      <button class="hero"><img src="/static/other/bastion.png" alt="Бастион"></button>
      <button class="hero"><img src="/static/other/genji.png" alt="Гендзи"></button>
      <button class="hero"><img src="/static/other/reaper.png" alt="Жнец"></button>
      <button class="hero"><img src="/static/other/junkrat.png" alt="Крысавчик"></button>
      <button class="hero"><img src="/static/other/cassidy.png" alt="Кэссиди"></button>
      <button class="hero"><img src="/static/other/mei.png" alt="Мей"></button>
      <button class="hero"><img src="/static/other/widow.png" alt="Вдова"></button>
      <button class="hero"><img src="/static/other/sym.png" alt="Симметра"></button>
      <button class="hero"><img src="/static/other/sodjorn.png" alt="Соджорн"></button>
      <button class="hero"><img src="/static/other/soldier.png" alt="Солдат"></button>
      <button class="hero"><img src="/static/other/sombra.png" alt="Сомбра"></button>
      <button class="hero"><img src="/static/other/torb.png" alt="Торбьорн"></button>
      <button class="hero"><img src="/static/other/tracer.png" alt="Трейсер"></button>
      <button class="hero"><img src="/static/other/pharah.png" alt="Фарра"></button>
      <button class="hero"><img src="/static/other/hanzo.png" alt="Хандзо"></button>
      <button class="hero"><img src="/static/other/echo.png" alt="Эхо"></button>
      <button class="hero"><img src="/static/other/ashe.png" alt="Эш"></button>
    </div>
  </div>

  <!-- ПОДДЕРЖКА -->
  <div class="role support">
    <div class="role-title">Поддержка</div>
    <div class="role-icons">
      <button class="hero"><img src="/static/other/ana.png" alt="Ана"></button>
      <button class="hero"><img src="/static/other/mercy.png" alt="Ангел"></button>
      <button class="hero"><img src="/static/other/baptiste.png" alt="Батист"></button>
      <button class="hero"><img src="/static/other/brig.png" alt="Бригитта"></button>
      <button class="hero"><img src="/static/other/dzen.png" alt="Дзеньятта"></button>
      <button class="hero"><img src="/static/other/illari.png" alt="Иллари"></button>
      <button class="hero"><img src="/static/other/kiriko.png" alt="Кирико"></button>
      <button class="hero"><img src="/static/other/lucio.png" alt="Лусио"></button>
      <button class="hero"><img src="/static/other/moira.png" alt="Мойра"></button>
      <button class="hero"><img src="/static/other/weever.png" alt="Ткач"></button>
      <button class="hero"><img src="/static/other/juno.png" alt="Юнона"></button>
    </div>
  </div>
</div>

  <script src="/static/script.js"></script>
</body>
</html>
